/* Elements */

button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: darkblue;
    color: white;
    text-shadow: 2px 2px 2px black;
}

/* Classes */

.header {
    display: flex;
    align-content: space-between;
    background-color: darkblue;
    color: white;
}

.high-scores-link {
    display: flex;
    align-content: flex-start;
    color: white;
}

.questions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}